In [1]:
import pandas as pd

#### Dimension Discounts

In [ ]:
# Lit et affiche le contenu de l'ancien fichier discount.csv

data = pd.read_csv('Old_Data/discounts.csv', sep=",")
data.head()

In [ ]:
# Récupération des champs utiles, suppression des doublons et génération de la clé primaire

df_Discounts = data[['Start', 'End', 'Discont', 'Category', 'Sub Category']]    
df_Discounts = df_Discounts.drop_duplicates()
df_Discounts = df_Discounts.reset_index(drop=True)
df_Discounts['Discount Key'] = df_Discounts.index +1

In [ ]:
# Création d'une copie du Dataframe pour supprimer les champs inutiles

df_Discounts_copy = df_Discounts.copy()
df_Discounts_copy.drop(['Category','Sub Category'], axis=1, inplace=True)

In [ ]:
# Affichage des données traitées

df_Discounts_copy.head()

In [ ]:
# Écriture des données traités dans un nouveau fichier discounts.csv

df_Discounts_copy.to_csv("Data/discounts.csv", index=False)

#### Dimension Stores

In [24]:
# Lit et affiche le contenu de l'ancien fichier stores.csv

data = pd.read_csv('Old_Data/stores.csv', sep=",")
data.head()

,Store ID,Country,City,Store Name,Number of Employees,ZIP Code,Latitude,Longitude
0,1,United States,New York,Store New York,10,10001,40.7128,-74.0060
1,2,United States,Los Angeles,Store Los Angeles,8,90001,34.0522,-118.2437
2,3,United States,Chicago,Store Chicago,9,60601,41.8781,-87.6298
3,4,United States,Houston,Store Houston,10,77001,29.7604,-95.3698
4,5,United States,Phoenix,Store Phoenix,9,85001,33.4484,-112.0740

In [44]:
# Récupération des champs utiles et suppression des doublons

df_Stores = data[['Store ID', 'Store Name', 'City', 'Country', 'ZIP Code', 'Latitude', 'Longitude']]

df_Stores.loc[df_Stores['Store ID'] == 6, 'Store Name'] = 'Store Shanghai'
df_Stores.loc[df_Stores['Store ID'] == 6, 'City'] = 'Shanghai'
df_Stores.loc[df_Stores['Store ID'] == 6, 'Country'] = 'China'
df_Stores.loc[df_Stores['Store ID'] == 7, 'Store Name'] = 'Store Pékin'
df_Stores.loc[df_Stores['Store ID'] == 7, 'City'] = 'Pékin'
df_Stores.loc[df_Stores['Store ID'] == 7, 'Country'] = 'China'
df_Stores.loc[df_Stores['Store ID'] == 8, 'Store Name'] = 'Store Canton'
df_Stores.loc[df_Stores['Store ID'] == 8, 'City'] = 'Canton'
df_Stores.loc[df_Stores['Store ID'] == 8, 'Country'] = 'China'
df_Stores.loc[df_Stores['Store ID'] == 9, 'Store Name'] = 'Store Shenzhen'
df_Stores.loc[df_Stores['Store ID'] == 9, 'City'] = 'Shenzhen'
df_Stores.loc[df_Stores['Store ID'] == 9, 'Country'] = 'China'
df_Stores.loc[df_Stores['Store ID'] == 10, 'Store Name'] = 'Store Chongqing'
df_Stores.loc[df_Stores['Store ID'] == 10, 'City'] = 'Chongqing'
df_Stores.loc[df_Stores['Store ID'] == 10, 'Country'] = 'China'

df_Stores = df_Stores.drop_duplicates()

In [45]:
# Affichage des données traitées

df_Stores.head()

,Store ID,Store Name,City,Country,ZIP Code,Latitude,Longitude
0,1,Store New York,New York,United States,10001,40.7128,-74.0060
1,2,Store Los Angeles,Los Angeles,United States,90001,34.0522,-118.2437
2,3,Store Chicago,Chicago,United States,60601,41.8781,-87.6298
3,4,Store Houston,Houston,United States,77001,29.7604,-95.3698
4,5,Store Phoenix,Phoenix,United States,85001,33.4484,-112.0740

In [46]:
# Écriture des données traités dans un nouveau fichier stores.csv

df_Stores.to_csv("Data/stores.csv", index=False)

#### Dimension Products

In [2]:
# Lit et affiche le contenu de l'ancien fichier products.csv

data = pd.read_csv('Old_Data/products.csv', sep=",")
data.head()

,Product ID,Category,Sub Category,Description PT,Description DE,Description FR,Description ES,Description EN,Description ZH,Color,Sizes,Production Cost
0,1,Feminine,Coats and Blazers,Esportivo Veludo Verde Com Botões,Sport Samt Sport Mit Knöpfen,Sports Velvet Sports Avec Des Boutons,Deportes De Terciopelo Con Botones,Sports Velvet Sports With Buttons,运动天鹅绒运动与按钮,NaN,S|M|L|XL,10.73
1,2,Feminine,Sweaters and Knitwear,Luxuoso Denim Rosa Com Botões,Luxuriöser Rosa Jeans Mit Knöpfen,Léchard De Denim Rose Avec Boutons,Denim Rosa Lujoso Con Botones,Luxurious Pink Denim With Buttons,豪华的粉红色牛仔布和纽扣,PINK,S|M|L|XL,19.55
2,3,Feminine,Dresses and Jumpsuits,Retrô Tricot Preto Estampado,Black Tricot Gedruckter Tricot,Tricot Imprimé En Tricot Noir,Tricot Negro Tricot Impreso,Black Tricot Printed Tricot,黑色三角形印刷三角形,BLACK,S|M|L|XL,25.59
3,4,Feminine,Shirts and Blouses,Blusa De Algodão Básica,Basis -Baumwollbluse,Chemisier En Coton De Base,Blusa De Algodón,Basic Cotton Blouse,基本的棉衬衫,NaN,S|M|L|XL,27.62
4,5,Feminine,T-shirts and Tops,T-Shirt Básica De Algodão,Basis-Baumwoll-T-Shirt,T-Shirt En Coton De Base,Camiseta Básica De Algodón,Basic Cotton T-Shirt,基本棉T恤,NaN,S|M|L,11.69

In [ ]:
# Récupération des champs utiles, suppression des caractères spéciaux dans la description et suppression des doublons

df_Products = data[['Product ID','Category', 'Sub Category', 'Description FR', 'Sizes', 'Production Cost']]
df_Products['Description FR'] = df_Products['Description FR'].replace({r'[^\x00-\x7F]+': ''}, regex=True)  
df_Products = df_Products.drop_duplicates()

C:\Users\lucas\AppData\Local\Temp\ipykernel_2272\2040307654.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Products['Description FR'] = df_Products['Description FR'].replace({r'[^\x00-\x7F]+': ''}, regex=True)

In [4]:
# Affichage des données traitées

df_Products.head()

,Product ID,Category,Sub Category,Description FR,Sizes,Production Cost
0,1,Feminine,Coats and Blazers,Sports Velvet Sports Avec Des Boutons,S|M|L|XL,10.73
1,2,Feminine,Sweaters and Knitwear,Lchard De Denim Rose Avec Boutons,S|M|L|XL,19.55
2,3,Feminine,Dresses and Jumpsuits,Tricot Imprim En Tricot Noir,S|M|L|XL,25.59
3,4,Feminine,Shirts and Blouses,Chemisier En Coton De Base,S|M|L|XL,27.62
4,5,Feminine,T-shirts and Tops,T-Shirt En Coton De Base,S|M|L,11.69

In [5]:
# Écriture des données traités dans un nouveau fichier products.csv

df_Products.to_csv("Data/products.csv", index=False)

#### Dimension Date

In [15]:
# Lit et affiche le contenu de l'ancien fichier transactions.csv

data = pd.read_csv('Old_Data/transactions.csv', sep=",")
data.head()

,Invoice ID,Line,Customer ID,Product ID,Size,Color,Unit Price,Quantity,Date,Discount,Line Total,Store ID,Employee ID,Currency,Currency Symbol,SKU,Transaction Type,Payment Method,Invoice Total
0,INV-US-001-03558761,1,47162,485,M,NaN,80.5,1,2023-01-01 15:42:00,0.0,80.5,1,7,USD,$,MASU485-M-,Sale,Cash,126.7
1,INV-US-001-03558761,2,47162,2779,G,NaN,31.5,1,2023-01-01 15:42:00,0.4,18.9,1,7,USD,$,CHCO2779-G-,Sale,Cash,126.7
2,INV-US-001-03558761,3,47162,64,M,NEUTRAL,45.5,1,2023-01-01 15:42:00,0.4,27.3,1,7,USD,$,MACO64-M-NEUTRAL,Sale,Cash,126.7
3,INV-US-001-03558762,1,10142,131,M,BLUE,70.0,1,2023-01-01 20:04:00,0.4,42.0,1,6,USD,$,FECO131-M-BLUE,Sale,Cash,77.0
4,INV-US-001-03558762,2,10142,716,L,WHITE,26.0,1,2023-01-01 20:04:00,0.0,26.0,1,6,USD,$,MAT-716-L-WHITE,Sale,Cash,77.0

In [31]:
# Récupération de la date, suppression des doublons et génération de la clé primaire

data['Date'] = pd.to_datetime(data['Date'])
df_Date = data[['Date']] 
df_Date = df_Date.drop_duplicates()
df_Date = df_Date.reset_index(drop=True)
df_Date['Date Key'] = df_Date.index +1

In [ ]:
# Extraction d'information de la date pour générer de nouveaux champs

df_Date
df_Date[''] = df_Date['Date'].dt.date
df_Date['Year'] = df_Date['Date'].dt.year
df_Date['Month'] = df_Date['Date'].dt.month
df_Date['Day'] = df_Date['Date'].dt.day
df_Date['Hour'] = df_Date['Date'].dt.hour
df_Date['DayOfWeek'] = df_Date['Date'].dt.dayofweek + 1
df_Date['WeekOfYear'] = df_Date['Date'].dt.isocalendar().week

In [33]:
# Affichage des données traitées

df_Date.head()

,Date,Date Key,OnlyDate,Year,Month,Day,Hour,DayOfWeek,WeekOfYear
0,2023-01-01 15:42:00,1,2023-01-01,2023,1,1,15,7,52
1,2023-01-01 20:04:00,2,2023-01-01,2023,1,1,20,7,52
2,2023-01-01 20:47:00,3,2023-01-01,2023,1,1,20,7,52
3,2023-01-01 08:06:00,4,2023-01-01,2023,1,1,8,7,52
4,2023-01-01 17:25:00,5,2023-01-01,2023,1,1,17,7,52

In [22]:
# Écriture des données traités dans un nouveau fichier date.csv

df_Date.to_csv("Data/date.csv", index=False)

#### Table de Fait

In [24]:
# Récupération des champs utiles et suppression des doublons

df_Transactions = data[['Product ID', 'Store ID', 'Quantity', 'Unit Price', 'Line Total', 'Transaction Type', 'Invoice Total', 'Date']]    
df_Transactions = df_Transactions.drop_duplicates()

In [ ]:
# Affichage des données traitées

df_Transactions.head()

#### Réalisation des jointures

In [35]:
# Jointure des Dataframes Transactions et Date dans la Table de Jointure

table_joint = pd.merge(df_Transactions, df_Date, on='Date', how='inner')
table_joint.head()

ValueError: You are trying to merge on object and datetime64[ns] columns for key 'Date'. If you wish to proceed you should use pd.concat

In [ ]:
# Jointure du DataFrame Products avec la table de Jointure et supression des champs inutiles

table_joint2 = pd.merge(table_joint, df_Products, on='Product ID', how='inner')
table_joint2.drop(['Description FR','Sizes', 'Production Cost'], axis=1, inplace=True)
table_joint2.head()

In [ ]:
# Jointure du DataFrame Discounts avec la table de Jointure
# Éxécution longue (60s)

table_joint3 = pd.merge(table_joint2, df_Discounts, on=['Category','Sub Category'], how='inner')
table_joint3.head()

In [ ]:
# Affichage de la taille de la table de Jointure

table_joint3.shape

In [ ]:
# Filtre du DataFrame de la table de Jointure pour ne garder que celle dont la date de la transaction appartient à la plage de la Promotion

df_Transactions = table_joint3[
    (table_joint3['Date'] >= table_joint3['Start']) &
    (table_joint3['Date'] <= table_joint3['End'])
]

In [ ]:
# Suppression de tout les champs qui ne sont plus utiles dans la table de Fait et Création de la clé primaire

df_Transactions.drop(['Date','Start', 'End', 'Discont', 'Category', 'Sub Category'], axis=1, inplace=True)
df_Transactions = df_Transactions.reset_index(drop=True)
df_Transactions['Transactions Key'] = df_Transactions.index +1
df_Transactions.head()

In [ ]:
# Affichage de la taille de la table de jointure pour constater la suppression de toute les lignes et colonnes inutiles

df_Transactions.shape

In [ ]:
# Écriture des données traités dans un nouveau fichier transactions.csv

df_Transactions.to_csv("Data/transactions.csv", index=False)