In [1]:
import pandas as pd
from datetime import datetime
from unidecode import unidecode

#### Dimension Customers

In [2]:
# Lit et affiche le contenu de l'ancien fichier discount.csv

data = pd.read_csv('Old_Data/customers.csv', sep=",")
data.head()

C:\Users\lucas\AppData\Local\Temp\ipykernel_14544\4204309402.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('Old_Data/customers.csv', sep=",")

,Customer ID,Name,Email,Telephone,City,Country,Gender,Date Of Birth,Job Title
0,1,Tyler Garcia,tyler.garcia@fake_gmail.com,922.970.2265x47563,New York,United States,M,2003-07-15,NaN
1,2,Joshua Miller,joshua.miller@fake_gmail.com,+1-958-729-6169,New York,United States,M,2000-06-16,Records manager
2,3,Alison Marshall DDS,alison.marshall.dds@fake_hotmail.com,+1-645-567-0876x5409,New York,United States,F,2003-07-22,NaN
3,4,Jeffery Acosta,jeffery.acosta@fake_yahoo.com,212.336.0912x84994,New York,United States,M,1996-11-12,Proofreader
4,5,Ashley Sanders,ashley.sanders@fake_hotmail.com,7814535781,New York,United States,F,1998-02-10,Exercise physiologist

In [3]:
df_Customers = data[['Customer ID', 'City', 'Country', 'Gender', 'Date Of Birth']]
df_Customers.head()

   Customer ID      City        Country Gender Date Of Birth
0            1  New York  United States      M    2003-07-15
1            2  New York  United States      M    2000-06-16
2            3  New York  United States      F    2003-07-22
3            4  New York  United States      M    1996-11-12
4            5  New York  United States      F    1998-02-10

In [4]:
df_Customers['Date Of Birth'] = pd.to_datetime(df_Customers['Date Of Birth'])
current_date = datetime.now()
df_Customers['Age'] = df_Customers['Date Of Birth'].apply(lambda x: current_date.year - x.year - ((current_date.month, current_date.day) < (x.month, x.day)))
df_Customers = df_Customers.drop(columns=['Date Of Birth'])

C:\Users\lucas\AppData\Local\Temp\ipykernel_14544\3040441455.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Customers['Date Of Birth'] = pd.to_datetime(df_Customers['Date Of Birth'])
C:\Users\lucas\AppData\Local\Temp\ipykernel_14544\3040441455.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Customers['Age'] = df_Customers['Date Of Birth'].apply(lambda x: current_date.year - x.year - ((current_date.month, current_date.day) < (x.month, x.day)))

In [5]:
# Traduction de l'ensemble des mots rédigés avec des caractères sinogrammes

df_Customers['Country'] = df_Customers['Country'].replace('中国', 'China')

df_Customers['City'] = df_Customers['City'].replace('上海', 'Shanghai')
df_Customers['City'] = df_Customers['City'].replace('浦东', 'Pudong')
df_Customers['City'] = df_Customers['City'].replace('虹口', 'Hongkou')
df_Customers['City'] = df_Customers['City'].replace('宝山', 'Baoshan')
df_Customers['City'] = df_Customers['City'].replace('闵行', 'Minhang')
df_Customers['City'] = df_Customers['City'].replace('嘉定', 'Jiading')
df_Customers['City'] = df_Customers['City'].replace('苏州（江苏省）', 'Suzhou')
df_Customers['City'] = df_Customers['City'].replace('昆山', 'Kunshan')
df_Customers['City'] = df_Customers['City'].replace('无锡', 'Wuxi')
df_Customers['City'] = df_Customers['City'].replace('太仓', 'Taicang')
df_Customers['City'] = df_Customers['City'].replace('南通', 'Nantong')
df_Customers['City'] = df_Customers['City'].replace('嘉兴', 'Jiaxing')
df_Customers['City'] = df_Customers['City'].replace('杭州', 'Hangzhou')
df_Customers['City'] = df_Customers['City'].replace('北京', 'Pékin')
df_Customers['City'] = df_Customers['City'].replace('海淀', 'Haidian')
df_Customers['City'] = df_Customers['City'].replace('朝阳', 'Chaoyang')
df_Customers['City'] = df_Customers['City'].replace('丰台', 'Fengtai')
df_Customers['City'] = df_Customers['City'].replace('通州', 'Tongzhou')
df_Customers['City'] = df_Customers['City'].replace('石家庄', 'Shijiazhuang')
df_Customers['City'] = df_Customers['City'].replace('天津', 'Tianjin')
df_Customers['City'] = df_Customers['City'].replace('廊坊', 'Langfang')
df_Customers['City'] = df_Customers['City'].replace('保定', 'Baoding')
df_Customers['City'] = df_Customers['City'].replace('承德', 'Chengde')
df_Customers['City'] = df_Customers['City'].replace('张家口', 'Zhangjiakou')
df_Customers['City'] = df_Customers['City'].replace('广州', 'Guangzhou')
df_Customers['City'] = df_Customers['City'].replace('天河', 'Tianhe')
df_Customers['City'] = df_Customers['City'].replace('白云', 'Baiyun')
df_Customers['City'] = df_Customers['City'].replace('越秀', 'Yuexiu')
df_Customers['City'] = df_Customers['City'].replace('佛山', 'Foshan')
df_Customers['City'] = df_Customers['City'].replace('东莞', 'Dongguan')
df_Customers['City'] = df_Customers['City'].replace('深圳', 'Shenzhen')
df_Customers['City'] = df_Customers['City'].replace('中山', 'Zhongshan')
df_Customers['City'] = df_Customers['City'].replace('珠海', 'Zhuhai')
df_Customers['City'] = df_Customers['City'].replace('惠州', 'Huizhou')
df_Customers['City'] = df_Customers['City'].replace('清远', 'Qingyuan')
df_Customers['City'] = df_Customers['City'].replace('福田', 'Futian')
df_Customers['City'] = df_Customers['City'].replace('南山', 'Nanshan')
df_Customers['City'] = df_Customers['City'].replace('宝安', 'Bao\'an')
df_Customers['City'] = df_Customers['City'].replace('龙岗', 'Longgang')
df_Customers['City'] = df_Customers['City'].replace('香港', 'Hong Kong')
df_Customers['City'] = df_Customers['City'].replace('澳门', 'Macao')
df_Customers['City'] = df_Customers['City'].replace('重庆', 'Chongqing')
df_Customers['City'] = df_Customers['City'].replace('渝中', 'Yuzhong')
df_Customers['City'] = df_Customers['City'].replace('江北', 'Jiangbei')
df_Customers['City'] = df_Customers['City'].replace('沙坪坝', 'Shapingba')
df_Customers['City'] = df_Customers['City'].replace('渝北', 'Yubei')
df_Customers['City'] = df_Customers['City'].replace('涪陵', 'Fuling')
df_Customers['City'] = df_Customers['City'].replace('万州', 'Wanzhou')
df_Customers['City'] = df_Customers['City'].replace('黔江', 'Qianjiang')
df_Customers['City'] = df_Customers['City'].replace('大足', 'Dazu')
df_Customers['City'] = df_Customers['City'].replace('璧山', 'Bishan')
df_Customers['City'] = df_Customers['City'].replace('合川', 'Hechuan')
df_Customers['City'] = df_Customers['City'].replace('成都', 'Chengdu')
df_Customers['City'] = df_Customers['City'].replace('锦江', 'Jinjiang')
df_Customers['City'] = df_Customers['City'].replace('青羊', 'Qingyang')
df_Customers['City'] = df_Customers['City'].replace('武侯', 'Wuhou')
df_Customers['City'] = df_Customers['City'].replace('龙泉驿', 'Longquanyi')
df_Customers['City'] = df_Customers['City'].replace('双流', 'Shuangliu')
df_Customers['City'] = df_Customers['City'].replace('德阳', 'Deyang')
df_Customers['City'] = df_Customers['City'].replace('绵阳', 'Mianyang')
df_Customers['City'] = df_Customers['City'].replace('乐山', 'Leshan')
df_Customers['City'] = df_Customers['City'].replace('眉山', 'Meishan')
df_Customers['City'] = df_Customers['City'].replace('资阳', 'Ziyang')
df_Customers['City'] = df_Customers['City'].replace('和平', 'Heping')
df_Customers['City'] = df_Customers['City'].replace('河东', 'Hedong')
df_Customers['City'] = df_Customers['City'].replace('河西', 'Hexi')
df_Customers['City'] = df_Customers['City'].replace('南开', 'Nankai')
df_Customers['City'] = df_Customers['City'].replace('滨海', 'Binhai')
df_Customers['City'] = df_Customers['City'].replace('唐山', 'Tangshan')
df_Customers['City'] = df_Customers['City'].replace('沧州', 'Cangzhou')
df_Customers['City'] = df_Customers['City'].replace('秦皇岛', 'Qinhuangdao')
df_Customers['City'] = df_Customers['City'].replace('西安', 'Xi\'an')
df_Customers['City'] = df_Customers['City'].replace('碑林', 'Beilin')
df_Customers['City'] = df_Customers['City'].replace('莲湖', 'Lianhu')
df_Customers['City'] = df_Customers['City'].replace('新城', 'Xincheng')
df_Customers['City'] = df_Customers['City'].replace('雁塔', 'Yanta')
df_Customers['City'] = df_Customers['City'].replace('长安', 'Chang\'an')
df_Customers['City'] = df_Customers['City'].replace('咸阳', 'Xianyang')
df_Customers['City'] = df_Customers['City'].replace('渭南', 'Weinan')
df_Customers['City'] = df_Customers['City'].replace('宝鸡', 'Baoji')
df_Customers['City'] = df_Customers['City'].replace('铜川', 'Tongchuan')
df_Customers['City'] = df_Customers['City'].replace('汉中', 'Hanzhong')
df_Customers['City'] = df_Customers['City'].replace('武汉', 'Wuhan')
df_Customers['City'] = df_Customers['City'].replace('江岸', 'Jiang\'an')
df_Customers['City'] = df_Customers['City'].replace('江汉', 'Jianghan')
df_Customers['City'] = df_Customers['City'].replace('硚口', 'Qiaokou')
df_Customers['City'] = df_Customers['City'].replace('汉阳', 'Hanyang')
df_Customers['City'] = df_Customers['City'].replace('武昌', 'Wuchang')
df_Customers['City'] = df_Customers['City'].replace('黄陂', 'Huangpi')
df_Customers['City'] = df_Customers['City'].replace('新洲', 'Xinzhou')
df_Customers['City'] = df_Customers['City'].replace('鄂州', 'Ezhou')
df_Customers['City'] = df_Customers['City'].replace('黄冈', 'Huanggang')
df_Customers['City'] = df_Customers['City'].replace('咸宁', 'Xianning')
df_Customers['City'] = df_Customers['City'].replace('苏州', 'Suzhou')
df_Customers['City'] = df_Customers['City'].replace('姑苏', 'Gusu')
df_Customers['City'] = df_Customers['City'].replace('虎丘', 'Huqiu')
df_Customers['City'] = df_Customers['City'].replace('吴中', 'Wuzhong')
df_Customers['City'] = df_Customers['City'].replace('相城', 'Xiangcheng')
df_Customers['City'] = df_Customers['City'].replace('常熟', 'Changshu')
df_Customers['City'] = df_Customers['City'].replace('张家港', 'Zhangjiagang')

In [6]:
df_Customers['Country'] = df_Customers['Country'].replace('España', 'Spain')
df_Customers['City'] = df_Customers['City'].apply(lambda x: unidecode(x))

In [7]:
df_Customers.head()

   Customer ID      City        Country Gender  Age
0            1  New York  United States      M   21
1            2  New York  United States      M   24
2            3  New York  United States      F   21
3            4  New York  United States      M   28
4            5  New York  United States      F   27

In [8]:
# Écriture des données traités dans un nouveau fichier discounts.csv

df_Customers.to_csv("Data/clients.csv", index=False)

#### Dimension Discounts

In [9]:
# Lit et affiche le contenu de l'ancien fichier discount.csv

data = pd.read_csv('Old_Data/discounts.csv', sep=",")
data.head()

,Start,End,Discont,Description,Category,Sub Category
0,2020-01-01,2020-01-10,0.4,40% discount during our New Year Winter Sale,Feminine,Coats and Blazers
1,2020-01-01,2020-01-10,0.4,40% discount during our New Year Winter Sale,Feminine,Sweaters and Knitwear
2,2020-01-01,2020-01-10,0.4,40% discount during our New Year Winter Sale,Masculine,Coats and Blazers
3,2020-01-01,2020-01-10,0.4,40% discount during our New Year Winter Sale,Masculine,Sweaters and Sweatshirts
4,2020-01-01,2020-01-10,0.4,40% discount during our New Year Winter Sale,Children,Coats

In [10]:
# Récupération des champs utiles, suppression des doublons et génération de la clé primaire

df_Discounts = data[['Start', 'End', 'Discont', 'Category', 'Sub Category']]    
df_Discounts = df_Discounts.drop_duplicates()
df_Discounts = df_Discounts.reset_index(drop=True)
df_Discounts['Discount Key'] = df_Discounts.index +1

In [11]:
# Création d'une copie du Dataframe pour supprimer les champs inutiles

df_Discounts_copy = df_Discounts.copy()
df_Discounts_copy.drop(['Category','Sub Category'], axis=1, inplace=True)

In [12]:
# Affichage des données traitées

df_Discounts_copy.head()

        Start         End  Discont  Discount Key
0  2020-01-01  2020-01-10      0.4             1
1  2020-01-01  2020-01-10      0.4             2
2  2020-01-01  2020-01-10      0.4             3
3  2020-01-01  2020-01-10      0.4             4
4  2020-01-01  2020-01-10      0.4             5

In [13]:
# Écriture des données traités dans un nouveau fichier discounts.csv

df_Discounts_copy.to_csv("Data/discounts.csv", index=False)

#### Dimension Stores

In [14]:
# Lit et affiche le contenu de l'ancien fichier stores.csv

data = pd.read_csv('Old_Data/stores.csv', sep=",")
data.head()

,Store ID,Country,City,Store Name,Number of Employees,ZIP Code,Latitude,Longitude
0,1,United States,New York,Store New York,10,10001,40.7128,-74.0060
1,2,United States,Los Angeles,Store Los Angeles,8,90001,34.0522,-118.2437
2,3,United States,Chicago,Store Chicago,9,60601,41.8781,-87.6298
3,4,United States,Houston,Store Houston,10,77001,29.7604,-95.3698
4,5,United States,Phoenix,Store Phoenix,9,85001,33.4484,-112.0740

In [15]:
# Récupération des champs utiles et suppression des doublons

df_Stores = data[['Store ID', 'Store Name', 'City', 'Country', 'ZIP Code', 'Latitude', 'Longitude']]

df_Stores['Country'] = df_Stores['Country'].replace('中国', 'China')

df_Stores['City'] = df_Stores['City'].replace('上海', 'Shanghai')
df_Stores['City'] = df_Stores['City'].replace('北京', 'Pékin')
df_Stores['City'] = df_Stores['City'].replace('广州', 'Canton')
df_Stores['City'] = df_Stores['City'].replace('深圳', 'Shenzhen')
df_Stores['City'] = df_Stores['City'].replace('重庆', 'Chongqing')

df_Stores['Store Name'] = df_Stores['Store Name'].replace('Store 上海', 'Store Shanghai')
df_Stores['Store Name'] = df_Stores['Store Name'].replace('Store 北京', 'Store Pékin')
df_Stores['Store Name'] = df_Stores['Store Name'].replace('Store 广州', 'Store Canton')
df_Stores['Store Name'] = df_Stores['Store Name'].replace('Store 深圳', 'Store Shenzhen')
df_Stores['Store Name'] = df_Stores['Store Name'].replace('Store 重庆', 'Store Chongqing')

df_Stores['Country'] = df_Stores['Country'].replace('España', 'Spain')
df_Stores['City'] = df_Stores['City'].apply(lambda x: unidecode(x))
df_Stores['Store Name'] = df_Stores['Store Name'].apply(lambda x: unidecode(x))

df_Stores = df_Stores.drop_duplicates()

C:\Users\lucas\AppData\Local\Temp\ipykernel_14544\3875729345.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Stores['Country'] = df_Stores['Country'].replace('中国', 'China')
C:\Users\lucas\AppData\Local\Temp\ipykernel_14544\3875729345.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Stores['City'] = df_Stores['City'].replace('上海', 'Shanghai')
C:\Users\lucas\AppData\Local\Temp\ipykernel_14544\3875729345.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Stores['City'] = df_Stores['City'].replace('北京', 'Pékin')
C:\Users\lucas\AppData\Local\Temp\ipykernel_14544\3875729345.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Stores['City'] = df_Stores['City'].replace('广州', 'Canton')
C:\Users\lucas\AppData\Local\Temp\ipykernel_14544\3875729345.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Stores['City'] = df_Stores['City'].replace('深圳', 'Shenzhen')
C:\Users\lucas\AppData\Local\Temp\ipykernel_14544\3875729345.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Stores['City'] = df_Stores['City'].replace('重庆', 'Chongqing')
C:\Users\lucas\AppData\Local\Temp\ipykernel_14544\3875729345.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Stores['Store Name'] = df_Stores['Store Name'].replace('Store 上海', 'Store Shanghai')
C:\Users\lucas\AppData\Local\Temp\ipykernel_14544\3875729345.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Stores['Store Name'] = df_Stores['Store Name'].replace('Store 北京', 'Store Pékin')
C:\Users\lucas\AppData\Local\Temp\ipykernel_14544\3875729345.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Stores['Store Name'] = df_Stores['Store Name'].replace('Store 广州', 'Store Canton')
C:\Users\lucas\AppData\Local\Temp\ipykernel_14544\3875729345.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Stores['Store Name'] = df_Stores['Store Name'].replace('Store 深圳', 'Store Shenzhen')
C:\Users\lucas\AppData\Local\Temp\ipykernel_14544\3875729345.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Stores['Store Name'] = df_Stores['Store Name'].replace('Store 重庆', 'Store Chongqing')
C:\Users\lucas\AppData\Local\Temp\ipykernel_14544\3875729345.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Stores['Country'] = df_Stores['Country'].replace('España', 'Spain')
C:\Users\lucas\AppData\Local\Temp\ipykernel_14544\3875729345.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Stores['City'] = df_Stores['City'].apply(lambda x: unidecode(x))
C:\Users\lucas\AppData\Local\Temp\ipykernel_14544\3875729345.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Stores['Store Name'] = df_Stores['Store Name'].apply(lambda x: unidecode(x))

In [16]:
# Affichage des données traitées

df_Stores.head()

,Store ID,Store Name,City,Country,ZIP Code,Latitude,Longitude
0,1,Store New York,New York,United States,10001,40.7128,-74.0060
1,2,Store Los Angeles,Los Angeles,United States,90001,34.0522,-118.2437
2,3,Store Chicago,Chicago,United States,60601,41.8781,-87.6298
3,4,Store Houston,Houston,United States,77001,29.7604,-95.3698
4,5,Store Phoenix,Phoenix,United States,85001,33.4484,-112.0740

In [17]:
# Écriture des données traités dans un nouveau fichier stores.csv

df_Stores.to_csv("Data/stores.csv", index=False)

#### Dimension Products

In [18]:
# Lit et affiche le contenu de l'ancien fichier products.csv

data = pd.read_csv('Old_Data/products.csv', sep=",")
data.head()

,Product ID,Category,Sub Category,Description PT,Description DE,Description FR,Description ES,Description EN,Description ZH,Color,Sizes,Production Cost
0,1,Feminine,Coats and Blazers,Esportivo Veludo Verde Com Botões,Sport Samt Sport Mit Knöpfen,Sports Velvet Sports Avec Des Boutons,Deportes De Terciopelo Con Botones,Sports Velvet Sports With Buttons,运动天鹅绒运动与按钮,NaN,S|M|L|XL,10.73
1,2,Feminine,Sweaters and Knitwear,Luxuoso Denim Rosa Com Botões,Luxuriöser Rosa Jeans Mit Knöpfen,Léchard De Denim Rose Avec Boutons,Denim Rosa Lujoso Con Botones,Luxurious Pink Denim With Buttons,豪华的粉红色牛仔布和纽扣,PINK,S|M|L|XL,19.55
2,3,Feminine,Dresses and Jumpsuits,Retrô Tricot Preto Estampado,Black Tricot Gedruckter Tricot,Tricot Imprimé En Tricot Noir,Tricot Negro Tricot Impreso,Black Tricot Printed Tricot,黑色三角形印刷三角形,BLACK,S|M|L|XL,25.59
3,4,Feminine,Shirts and Blouses,Blusa De Algodão Básica,Basis -Baumwollbluse,Chemisier En Coton De Base,Blusa De Algodón,Basic Cotton Blouse,基本的棉衬衫,NaN,S|M|L|XL,27.62
4,5,Feminine,T-shirts and Tops,T-Shirt Básica De Algodão,Basis-Baumwoll-T-Shirt,T-Shirt En Coton De Base,Camiseta Básica De Algodón,Basic Cotton T-Shirt,基本棉T恤,NaN,S|M|L,11.69

In [ ]:
# Récupération des champs utiles, suppression des caractères spéciaux dans la description et suppression des doublons

df_Products = data[['Product ID','Category', 'Sub Category', 'Description FR', 'Sizes', 'Production Cost']]
df_Products['Description FR'] = df_Products['Description FR'].apply(lambda x: unidecode(x))
df_Products = df_Products.drop_duplicates()

C:\Users\lucas\AppData\Local\Temp\ipykernel_14544\3183770177.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Products['Description FR'] = df_Products['Description FR'].apply(lambda x: unidecode(x))

In [20]:
# Affichage des données traitées

df_Products.head()

,Product ID,Category,Sub Category,Description FR,Sizes,Production Cost
0,1,Feminine,Coats and Blazers,Sports Velvet Sports Avec Des Boutons,S|M|L|XL,10.73
1,2,Feminine,Sweaters and Knitwear,Lechard De Denim Rose Avec Boutons,S|M|L|XL,19.55
2,3,Feminine,Dresses and Jumpsuits,Tricot Imprime En Tricot Noir,S|M|L|XL,25.59
3,4,Feminine,Shirts and Blouses,Chemisier En Coton De Base,S|M|L|XL,27.62
4,5,Feminine,T-shirts and Tops,T-Shirt En Coton De Base,S|M|L,11.69

In [21]:
# Écriture des données traités dans un nouveau fichier products.csv

df_Products.to_csv("Data/products.csv", index=False)

#### Dimension Date

In [22]:
# Lit et affiche le contenu de l'ancien fichier transactions.csv

data = pd.read_csv('Old_Data/transactions.csv', sep=",")
data.head()

,Invoice ID,Line,Customer ID,Product ID,Size,Color,Unit Price,Quantity,Date,Discount,Line Total,Store ID,Employee ID,Currency,Currency Symbol,SKU,Transaction Type,Payment Method,Invoice Total
0,INV-US-001-03558761,1,47162,485,M,NaN,80.5,1,2023-01-01 15:42:00,0.0,80.5,1,7,USD,$,MASU485-M-,Sale,Cash,126.7
1,INV-US-001-03558761,2,47162,2779,G,NaN,31.5,1,2023-01-01 15:42:00,0.4,18.9,1,7,USD,$,CHCO2779-G-,Sale,Cash,126.7
2,INV-US-001-03558761,3,47162,64,M,NEUTRAL,45.5,1,2023-01-01 15:42:00,0.4,27.3,1,7,USD,$,MACO64-M-NEUTRAL,Sale,Cash,126.7
3,INV-US-001-03558762,1,10142,131,M,BLUE,70.0,1,2023-01-01 20:04:00,0.4,42.0,1,6,USD,$,FECO131-M-BLUE,Sale,Cash,77.0
4,INV-US-001-03558762,2,10142,716,L,WHITE,26.0,1,2023-01-01 20:04:00,0.0,26.0,1,6,USD,$,MAT-716-L-WHITE,Sale,Cash,77.0

In [23]:
# Récupération de la date, suppression des doublons et génération de la clé primaire

data['Date'] = pd.to_datetime(data['Date'])
df_Date = data[['Date']] 
df_Date = df_Date.drop_duplicates()
df_Date = df_Date.reset_index(drop=True)
df_Date['Date Key'] = df_Date.index +1

In [24]:
# Extraction d'information de la date pour générer de nouveaux champs

df_Date
df_Date[''] = df_Date['Date'].dt.date
df_Date['Year'] = df_Date['Date'].dt.year
df_Date['Month'] = df_Date['Date'].dt.month
df_Date['Day'] = df_Date['Date'].dt.day
df_Date['Hour'] = df_Date['Date'].dt.hour
df_Date['DayOfWeek'] = df_Date['Date'].dt.dayofweek + 1
df_Date['WeekOfYear'] = df_Date['Date'].dt.isocalendar().week

In [25]:
# Affichage des données traitées

df_Date.head()

,Date,Date Key,,Year,Month,Day,Hour,DayOfWeek,WeekOfYear
0,2023-01-01 15:42:00,1,2023-01-01,2023,1,1,15,7,52
1,2023-01-01 20:04:00,2,2023-01-01,2023,1,1,20,7,52
2,2023-01-01 20:47:00,3,2023-01-01,2023,1,1,20,7,52
3,2023-01-01 08:06:00,4,2023-01-01,2023,1,1,8,7,52
4,2023-01-01 17:25:00,5,2023-01-01,2023,1,1,17,7,52

In [26]:
# Écriture des données traités dans un nouveau fichier date.csv

df_Date.to_csv("Data/date.csv", index=False)

#### Table de Fait

In [27]:
# Récupération des champs utiles et suppression des doublons

df_Transactions = data[['Product ID', 'Store ID', 'Customer ID', 'Quantity', 'Unit Price', 'Line Total', 'Transaction Type', 'Date']]

In [28]:
# Affichage des données traitées

df_Transactions.head()

,Product ID,Store ID,Customer ID,Quantity,Unit Price,Line Total,Transaction Type,Date
0,485,1,47162,1,80.5,80.5,Sale,2023-01-01 15:42:00
1,2779,1,47162,1,31.5,18.9,Sale,2023-01-01 15:42:00
2,64,1,47162,1,45.5,27.3,Sale,2023-01-01 15:42:00
3,131,1,10142,1,70.0,42.0,Sale,2023-01-01 20:04:00
4,716,1,10142,1,26.0,26.0,Sale,2023-01-01 20:04:00

#### Réalisation des jointures

In [29]:
# Jointure des Dataframes Transactions et Date dans la Table de Jointure

table_joint = pd.merge(df_Transactions, df_Date, on='Date', how='inner')
table_joint.head()

,Product ID,Store ID,Customer ID,Quantity,Unit Price,Line Total,Transaction Type,Date,Date Key,,Year,Month,Day,Hour,DayOfWeek,WeekOfYear
0,485,1,47162,1,80.5,80.5,Sale,2023-01-01 15:42:00,1,2023-01-01,2023,1,1,15,7,52
1,2779,1,47162,1,31.5,18.9,Sale,2023-01-01 15:42:00,1,2023-01-01,2023,1,1,15,7,52
2,64,1,47162,1,45.5,27.3,Sale,2023-01-01 15:42:00,1,2023-01-01,2023,1,1,15,7,52
3,131,1,10142,1,70.0,42.0,Sale,2023-01-01 20:04:00,2,2023-01-01,2023,1,1,20,7,52
4,716,1,10142,1,26.0,26.0,Sale,2023-01-01 20:04:00,2,2023-01-01,2023,1,1,20,7,52

In [30]:
# Jointure du DataFrame Products avec la table de Jointure et supression des champs inutiles

table_joint2 = pd.merge(table_joint, df_Products, on='Product ID', how='inner')
table_joint2.drop(['Description FR','Sizes', 'Production Cost'], axis=1, inplace=True)
table_joint2.head()

,Product ID,Store ID,Customer ID,Quantity,Unit Price,Line Total,Transaction Type,Date,Date Key,,Year,Month,Day,Hour,DayOfWeek,WeekOfYear,Category,Sub Category
0,485,1,47162,1,80.5,80.5,Sale,2023-01-01 15:42:00,1,2023-01-01,2023,1,1,15,7,52,Masculine,Suits and Blazers
1,2779,1,47162,1,31.5,18.9,Sale,2023-01-01 15:42:00,1,2023-01-01,2023,1,1,15,7,52,Children,Coats
2,64,1,47162,1,45.5,27.3,Sale,2023-01-01 15:42:00,1,2023-01-01,2023,1,1,15,7,52,Masculine,Coats and Blazers
3,131,1,10142,1,70.0,42.0,Sale,2023-01-01 20:04:00,2,2023-01-01,2023,1,1,20,7,52,Feminine,Coats and Blazers
4,716,1,10142,1,26.0,26.0,Sale,2023-01-01 20:04:00,2,2023-01-01,2023,1,1,20,7,52,Masculine,T-shirts and Polos

In [31]:
# Jointure du DataFrame Discounts avec la table de Jointure
# Éxécution longue (60s)

table_joint3 = pd.merge(table_joint2, df_Discounts, on=['Category','Sub Category'], how='inner')
table_joint3.head()

,Product ID,Store ID,Customer ID,Quantity,Unit Price,Line Total,Transaction Type,Date,Date Key,,...,Day,Hour,DayOfWeek,WeekOfYear,Category,Sub Category,Start,End,Discont,Discount Key
0,2779,1,47162,1,31.5,18.9,Sale,2023-01-01 15:42:00,1,2023-01-01,...,1,15,7,52,Children,Coats,2020-01-01,2020-01-10,0.40,5
1,2779,1,47162,1,31.5,18.9,Sale,2023-01-01 15:42:00,1,2023-01-01,...,1,15,7,52,Children,Coats,2020-09-01,2020-09-15,0.45,26
2,2779,1,47162,1,31.5,18.9,Sale,2023-01-01 15:42:00,1,2023-01-01,...,1,15,7,52,Children,Coats,2021-01-01,2021-01-10,0.40,39
3,2779,1,47162,1,31.5,18.9,Sale,2023-01-01 15:42:00,1,2023-01-01,...,1,15,7,52,Children,Coats,2021-09-01,2021-09-15,0.45,60
4,2779,1,47162,1,31.5,18.9,Sale,2023-01-01 15:42:00,1,2023-01-01,...,1,15,7,52,Children,Coats,2022-01-01,2022-01-10,0.40,73

In [32]:
# Affichage de la taille de la table de Jointure

table_joint3.shape

(46464179, 22)

In [33]:
# Filtre du DataFrame de la table de Jointure pour ne garder que celle dont la date de la transaction appartient à la plage de la Promotion

df_Transactions = table_joint3[
    (table_joint3['Date'] >= table_joint3['Start']) &
    (table_joint3['Date'] <= table_joint3['End'])
]

In [34]:
# Suppression de tout les champs qui ne sont plus utiles dans la table de Fait et Création de la clé primaire

df_Transactions.drop(['Date','Start', 'End', 'Discont', 'Category', 'Sub Category'], axis=1, inplace=True)
df_Transactions = df_Transactions.reset_index(drop=True)
df_Transactions['Transactions Key'] = df_Transactions.index +1
df_Transactions.head()

C:\Users\lucas\AppData\Local\Temp\ipykernel_14544\3161295559.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Transactions.drop(['Date','Start', 'End', 'Discont', 'Category', 'Sub Category'], axis=1, inplace=True)

,Product ID,Store ID,Customer ID,Quantity,Unit Price,Line Total,Transaction Type,Date Key,,Year,Month,Day,Hour,DayOfWeek,WeekOfYear,Discount Key,Transactions Key
0,2779,1,47162,1,31.5,18.9,Sale,1,2023-01-01,2023,1,1,15,7,52,107,1
1,64,1,47162,1,45.5,27.3,Sale,1,2023-01-01,2023,1,1,15,7,52,105,2
2,131,1,10142,1,70.0,42.0,Sale,2,2023-01-01,2023,1,1,20,7,52,103,3
3,1208,1,1968,1,75.0,45.0,Sale,4,2023-01-01,2023,1,1,8,7,52,105,4
4,2639,1,1968,1,45.5,27.3,Sale,4,2023-01-01,2023,1,1,8,7,52,106,5

In [35]:
# Affichage de la taille de la table de jointure pour constater la suppression de toute les lignes et colonnes inutiles

df_Transactions.shape

(837452, 17)

In [36]:
# Écriture des données traités dans un nouveau fichier transactions.csv

df_Transactions.to_csv("Data/transactions.csv", index=False)